<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h5>just content</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      saepe eos excepturi qui tempora. Dolor eveniet iste voluptatem distinctio
      recusandae iure nobis ex, quam asperiores alias! Voluptatum odit
      repellendus voluptate.
    </p>
  </body>
</html>
