.login-login {

  * {

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  .login-app {
    background-color: #fff;
    width: 290px;
    height: 479px;
    margin: 2em auto;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.3);
  }

  .login-bg {
    width: 400px;
    height: 489px;
    background: #003580;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;
    /* background-image: url("background.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(69% 46% at 48% 46%);
  }

  .login-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 2em;

    header {
      width: 220px;
      height: 127px;
      margin: 1em auto;

      label {
        .login-profileimg {
          border-radius: 50%;
          width: 90px;
          height: 90px;
        }
      }
    }

    input {
      width: 100%;
      padding: 5px 15px;
      margin: 0.7em auto;
      border-radius: 100px;
      border: none;
      background: rgb(255, 255, 255, 0.3);
      font-family: "Poppins", sans-serif;
      outline: none;
      color: #fff;

    }

    .login-inputs {
      margin-top: -15px;

      .light {
        text-align: right;
        color: #fff;
      }

      .login-submit {
        width: 100%;
        padding: 5px 15px;
        border-radius: 100px;
        border: none;
        background: #003580;
        font-family: "Poppins", sans-serif;
        outline: none;
        color: #fff;
      }
    }

  }

  footer {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;

    text-align: center;

    p {
      font-size: 13px;
      color: #333;
      line-height: 2;
    }
  }

  input::placeholder {
    color: #fff;
    font-size: 13px;
  }

  .login-submit {
    cursor: pointer;
    margin-top: 100px;
  }


}

@media screen and (max-width: 640px) {
  .login-app {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .login-bg {
    top: -7em;
    width: 450px;
    height: 95vh;
  }

  header {
    width: 90%;
    height: 250px;
  }

  .login-inputs {
    margin: 0;
  }

  input,
  button {

    padding: 10px 15px;
  }
}