.login {

  * {

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  .app {
    background-color: #fff;
    width: 330px;
    height: 570px;
    margin: 2em auto;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.3);
  }

  .bg {
    width: 400px;
    height: 550px;
    background: #003580;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;
    /* background-image: url("background.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(69% 46% at 48% 46%);
  }

  .form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
    span{
      font-size: small;
    }
    header {
      width: 220px;
      height: 220px;
      margin: 1em auto;

      label {
        .profileimg {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: scale(1.5);

          }
        }
      }
    }

    input {
      width: 100%;
      padding: 7px 15px;
      margin: 3px auto;
      border-radius: 100px;
      border: none;
      background: rgba(255, 255, 255, 0.3);
      font-family: "Poppins", sans-serif;
      outline: none;
      color: #fff;
      font-size: smaller;

    }

    .inputs {
      position: relative;
      margin-top: -97px;

      .otp-input {
        margin-top: 100px;
      }

      .light {
        text-align: right;
        color: #fff;
      }

      .submit {
        width: 100%;
        padding: 5px 15px;
        border-radius: 100px;
        // border: none;
        // background: #003580;
        font-family: "Poppins", sans-serif;
        // outline: none;
        // color: #fff;
      }
    }

  }

  footer {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;

    text-align: center;

    p {
      font-size: 13px;
      color: #333;
      line-height: 2;
    }
  }

  input::placeholder {
    color: #fff;
    font-size: 13px;
  }

  .submit {
    // cursor: pointer;
    margin-top: 25%;
    position: absolute;
    left: 0;
    
  }


}

@media screen and (max-width: 640px) {
  .app {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .bg {
    top: -7em;
    width: 450px;
    height: 95vh;
  }

  header {
    width: 90%;
    height: 250px;
  }

  .inputs {
    margin: 0;
  }

  input,
  button {

    padding: 18px 15px;
  }
}


// OTP Style 

.OTPapp {
  width: 295px;
  height: 439px;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.3);

}

.OTPbg {
  width: 409px;
  height: 401px;
  background: #003580;
  position: absolute;
  top: -5em;
  left: 0;
  right: 0;
  margin: auto;
  /* background-image: url("background.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: ellipse(69% 46% at 48% 46%);
}

.OTPinputs {
   margin-top: 90px;
  .submit {
    // width: 100%;
    padding: 5px 15px;
    border-radius: 100px;
    border: none;
    // background: #003580;
    font-family: "Poppins", sans-serif;
    outline: none;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50px, 0px);
    
   
  }
}
.OTP-STATUS{
  color: #fff;
}
.inputErr{
  
  background-color: #f98c8c  !important;
}
.errr{
  color: red !important;
}