.card-cantainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    .card{
        padding: 15px;
       
        .card-header{
            i{
                font-size: 40px;
            }
                display: flex;
                align-items: center;
                gap: 50px;
        
                .content{
                    display: flex;
                    flex-direction: column;
                    span{
                        font-family: "Noto Sans";
                        font-weight: 300;
                        font-size: 16px;
                    }
                    .value{
                        font-size: 20px;
                        font-weight: 500; 
                    }
                }
            }
      hr{
        margin-bottom: 5px;
      } 
      
      
    }
    .card-body{
        i{
            padding-right: 10px;
            cursor: pointer;
        }
    }
   
}

// comen style
.bg-1{
    background: linear-gradient(45deg, #59bcff 21%, #59d7ff 100%);
}
.bg-2{
    background: linear-gradient(45deg, #4ad994 0%, #57f998 100%);
}

.bg-3{
    background: linear-gradient(45deg, #fdb765 0%, #ffe485 100%);
}
.bg-4{
    background: linear-gradient(45deg, #ff6d59 0%, #ffd584 100%);
}