.admin-form {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;

    .wrap {
        position: relative;
    }

    span {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -10px;
        transition: all ease-in-out 0.5s;

    }

    input,
    select {
        cursor: pointer;
    }


}


.btn:focus {
    outline: none;
    outline: none;
    outline-offset: none;

}

.btn:active:focus {
    outline: none;
    outline: none;
    outline-offset: none;

}